.container{
  width: 1280px;
  margin: 0 auto;
}

body {
  background: #483c6c;
  background-image: url("assets/images/backGround.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
